<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="course1" class="ru.a.spring.demo.school2.Course1">
        <constructor-arg type="java.lang.String" value="Spring or Hibernate"/>
        <constructor-arg type="int" value="5"/>
    </bean>

    <bean id="student1" class="ru.a.spring.demo.school2.Student1">
        <constructor-arg type="java.lang.String" value="Alexei"/>
        <constructor-arg type="java.lang.String" value="Artemov"/>
        <constructor-arg ref="course1"/>
        <constructor-arg ref="teacher1"/>
    </bean>

    <bean id="teacher1" class="ru.a.spring.demo.school2.Teacher1">
        <constructor-arg type="java.lang.String" value="Vladimir"/>
        <constructor-arg type="java.lang.String" value="Putin"/>
        <constructor-arg ref="course1"/>
    </bean>
</beans>